# general
native
*~
*.log
tmp
dump
.history
/*.iml
/out
**.swp
.DS_Store

# Eclipse
.settings
.cache
.cache-main
.cache-tests
.project
.classpath
.scala_dependencies
.worksheet
*.sc

# IDEA
/.idea
/.idea_modules

# SBT
bin
project/project
target
.target

# Play
logs
RUNNING_PID

atlassian-ide-plugin.xml
